<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projectassyifa.cashier_pujasera">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".container.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_pjsr"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_pjsr_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cashier_Pujasera"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".screen.qrcode.QRcodeActivity"
            android:exported="true"
            android:label="@string/title_activity_qrcode"
            android:theme="@style/Theme.Cashier_Pujasera.NoActionBar" />
        <activity android:name=".screen.cash.CashPaymentActivity" />
        <activity android:name=".screen.income.IncomeActivity" />
        <activity android:name=".screen.report_server.ReportServerActivity" /> <!-- <activity android:name=".screen.report.ReportActivity" /> -->
        <activity android:name=".screen.fadipay.FadipayActivity" />
        <activity android:name=".screen.home.HomeActivity" />
        <activity android:name=".screen.login.Login_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>